//------------------------------------------------------------------
// mixin定義
//------------------------------------------------------------------

//media screen and (max-width: 767px)
@mixin media-sm($screenpoint: sm) {
  @media #{map-get($screenpoint-min, $screenpoint)} {
    @content;
  }
}

//media screen and (min-width: 768px)
@mixin media-md($screenpoint: md) {
    @media #{map-get($screenpoint-min, $screenpoint)} {
      @content;
    }
}

//media screen and (max-width: 1024px)
@mixin media-lg($screenpoint: lg) {
  @media #{map-get($screenpoint-min, $screenpoint)} {
    @content;
  }
}

//media screen and (min-width: 1025px)
@mixin media-xl($screenpoint: xl) {
  @media #{map-get($screenpoint-min, $screenpoint)} {
    @content;
  }
}