@charset "utf-8";

//------------------------------------------------------------------
// 変数定義
//------------------------------------------------------------------

// 背景色
$colorback-white: #FFF;
$colorback-black: #202020;
$colorback-orange: #F68827;
$colorback-lightblue: #E3F2FD;
$colorback-blue: #0066EB;
$colorback-gray: #F7F7F7;
$colorback-green: #32B154;
$colorback-lightgreen: #F6FBF9;


// 文字色
$color-black: #202020;
$color-white: #FFF;
$color-blue: #0066EB;
$color-blackgray: #555;
$color-green: #32B154;
$color-orange: #F68827;

// フォントファミリー
$default: "Noto Sans CJK JP",'Roboto';

// min-width
$screenpoint-min: (
    'sm': 'screen and (max-width: 767px)',
    'md': 'screen and (min-width: 768px)',
    'lg': 'screen and (max-width: 1024px)',
    'xl': 'screen and (min-width: 1025px)',
)!default;

// clearfix
@mixin cf{
    &:after{
      content: " ";
      display: block;
      clear: both;
    }
}


