@import "../sass/_variables";
@import "../sass/_mixins";
@import "../sass/reset";

html { 
    font-size: 62.5%; 
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

ul,ol,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

img, svg {
    vertical-align: top;
}

img {
    border-style: none;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// サイト内部の領域
.lp-inner {
    padding-left: 20px;
    padding-right: 20px;

    @include media-md () {
        margin-left: auto;
        margin-right: auto;
        max-width: 1050px;
        max-height: auto;
        padding-left: 30px;
        padding-right: 30px;

        &--wide {

            @include media-sm () {
                max-width: 760px;
            }

            @include media-md () {
                max-width: 1260px;
            }
        }

        &--thin {
            @include media-md () {
                max-width: 840px;
            }
        }
    }    
}

// 全体のsection
.lp-section {
    padding: 50px 0;

    @include media-md () {
        padding: 80px 0;
    }

    &--wide {
        padding: 60px 0;

        @include media-md () {
            padding: 120px 0;
        }
    }
}

// hタグの見出し各種
.lp-title {
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 1.8rem;

    @include media-md () {
        font-size: 3.6rem;
        line-height: 150%;

        @include media-lg () {
            font-size: 1.85rem;
        }
    }

    // h2タグのstyle
    &--secondary {
        letter-spacing: 0.02rem;
        line-height: 2rem;
        margin-bottom: 30px;
        padding-top: 25px;
        position: relative;
        text-align: center;

        @include media-sm () {
            font-size: 2.2rem;
            line-height: 29px;
        }

        @include media-md () {
            font-size: 3.2rem;
            line-height: 150%;
            margin-bottom: 60px;
            padding-top: 20px;
        }

        &--number {
            font-family: $default;
            font-size: 2.6rem;
            margin-right: 5px;
            vertical-align: middle;

            @include media-sm () {
                font-size: 4.0rem;
                line-height: 40px;
            }

            @include media-md () {
                font-size: 5.6rem;
            }
        }

        &--large {
            font-size: 1.5rem;
            letter-spacing: 0.2rem;
            vertical-align: middle;

            @include media-sm () {
                font-size: 2.4rem;
                line-height: 31px;
            }

            @include media-md () {
                font-size: 3.6rem;
            }
        }

        &::before, &::after {
            border-radius: 20px;
            content: '';
            display: block;
            height: 4px;
            position: absolute;
            top: 0;
        }

        &::before {
            background-color: $colorback-blue;
            left: 50%;
            margin-left: -37px;
            width: 45px;
        }

        &::after {
            background-color: $colorback-black;
            margin-right: -38px;
            right: 50%;
            width: 24px;
        }

        &--white {
            color: $color-white;

            &::before, &::after {
                background-color: $colorback-white;
            }
        }

        &--green {
            &::before {
                background-color: $colorback-green;
            }
        }

        &--morelarge {
            font-size: 1.5rem;
            vertical-align: middle;

            @include media-sm () {
                font-size: 2.4rem;
                line-height: 31.2px;
            }

            @include media-md () {
                font-size: 4.0rem;
                display: inline-block;
                letter-spacing: 0.2rem;
                padding-top: 10px;

                @include media-lg () {
                    font-size: 2rem;
                }
            }
        }

        &--ls0 {
            letter-spacing: 0
        }
    }

    // h3タグのstyle
    &--thirdly {
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-bottom: 20px;
        @include media-sm () {
            letter-spacing: 0.05rem;
        }

        @include media-md () {
            font-size: 28px;
            line-height: 150%;
            letter-spacing: 0;
            @include media-lg () {
                font-size: 1.5rem;
            }
        }

        &--bold {
            font-weight: bold;
            
            @include media-sm () {
                font-size: 2.0rem;
                line-height: 26px;
            }
        }

        &--company {
            @include media-sm () {
                font-size: 1.8rem;
                line-height: 25.2px;
            }
        }
    }

    &--fourthly {
        font-size: 1.1rem;
        letter-spacing: 0.05rem;
        line-height: 1.6rem;
        margin-bottom: 15px;
        @include media-md () {
            font-size: 2.4rem;
            line-height: 150%;
            margin-bottom: 20px;
            @include media-lg () {
                font-size: 1.2rem;
            }
        }

        &--bold {
            font-weight: bold;

            @include media-sm () {
                font-size: 1.8rem;
                line-height: 25.2px;
            }
        }
    }

    &--fifthly {
        color: $color-blue;
        font-size: 0.95rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 15px;

        @include media-sm () {
            font-size: 1.6rem;
            line-height: 29px;
            margin-bottom: 12px;
        }

        @include media-md () {
            font-size: 1.6rem;
        }
    }

    &--primary {
        margin-bottom: 40px;
        text-align: center;

        @include media-sm () {
            letter-spacing: 0.05rem;
            font-size: 2.1rem;
            line-height: 29px;;
        }

        @include media-md () {
            margin-bottom: 70px;
        }
    }

    &--splarge {
        @include media-sm () {
            font-size: 2.4rem;
            line-height: 31px;
        }
    }

    .lp-mb0 {
        margin-bottom: 0px !important;
    }

    &--underline {
        position: relative;

        &::after {
            background-color: rgba(0, 102, 235, 0.2);
            bottom: 2px;
            content: '';
            height: 8px;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 1;

            @include media-md () {
                bottom: 5px;
            }
        }

        &--green::after {
            background-color: rgba(50, 177, 84, 0.2);
        }
    }

    &--underlineInner {
        position: relative;
        z-index: 2;
    }

    &--margin {
        margin: 0 3px;
        @include media-md () {
            margin: 0 8px;
        }
    }

    &--sup {
        font-size: 1.6rem;
        vertical-align: top;
        top: 0.5rem;

        @include media-sm () {
            font-size: 1.5rem;
            line-height: 27px;
            top: 0;
        }

        @include media-md () {
            font-size: 1.6rem;
            top: 1.5rem;
        }
    }

    &--note {
        display: block;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        color: $color-blackgray;
        letter-spacing: 0.05rem;
        @include media-sm () {
            margin-top: 5px;
        }
    }
}

.lp-list-disc {
    margin: 10px 0 20px 15px;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    & li {
        list-style-type: disc;
        margin-top: 5px;

        @include media-sm () {
            font-size: 1.4rem;
            line-height: 21px;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}

.lp-list-decimal {
    margin: 10px 0 20px 15px;

    @include media-sm () {
        font-size: 1.35rem;
        line-height: 21px;
        padding-left: 5px;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    & li {
        list-style-type: decimal;
        margin-top: 5px;
        &:first-child {
            margin-top: 0;
        }
    }
}

.lp-list-check {
    margin: 10px 0 20px 0;
    letter-spacing: 0.1rem;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    & li {
        list-style-type: none;
        margin-top: 5px;
        padding-left: 25px;
        position: relative;

        @include media-sm () {
            font-size: 1.4rem;
            line-height: 21px;
        }

        @include media-md () {
            margin-top: 8px;
        }

        &:first-child {
            margin-top: 0;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 3px;
            height: 17px;
            background-color: $colorback-blue;
            transform: rotate(45deg);
            border-radius: 35%;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            left: -4px;
            width: 3px;
            height: 11px;
            background-color: $colorback-blue;
            border-radius: 35%;
            transform: rotate(-45deg);
        }

        &::before {
            top: 3px;
            left: 4px;
        }
    }
}

a.lp-text-link {
    color: $color-orange;
    font-weight: 700;
    text-decoration: underline;
    &:hover {
        opacity: 1;
        @include media-md () {
            text-decoration: none;
        }
    }
}

.lp-fs-large {
    font-size: 1rem;
}

@include media-md () {
    .lp-pc-none {
        display: none !important;
    }
}

@include media-sm () {
    .lp-sp-none {
        display: none !important;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

//------------------------------------------------------------------
//SP用のハンバーガーメニュー（CSS）
//------------------------------------------------------------------
  .drawer {
    display: none;
    @include media-sm () {
        display: block;
    }
  }
    
  /* チェックボックスは非表示に */
  .drawer-hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer-open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上に */
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: '';
    display: block;
    height: 1.5px;
    width: 20px;
    border-radius: 3px;
    background:black;
    transition: 0.5s;
    position: absolute;
  }

  .drawer-list {
    text-align: center;
    padding-top: 130px;
    list-style: none;
  }

  .drawer-item {
      margin-bottom: 37px;
      .drawer-link {
        color: black;
        font-size: 2.6rem;
        line-height: 34px;
        font-weight: bold;
        text-decoration: none;
      }
  }
  
  /* 三本線のうち一番上の棒の位置調整 */
  .drawer-open span:before {
    bottom: 6px;
  }
  
  /* 三本線のうち一番下の棒の位置調整 */
  .drawer-open span:after {
    top: 6px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .drawer-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer-check:checked ~ .drawer-content {
    left: 0;/* メニューを画面に入れる */
  }

//------------------------------------------------------------------
//改行
//------------------------------------------------------------------
.lp-br-sp {
    display: none !important;

    @include media-sm () {
        display: block !important;
    }
}

.lp-br-pc {
    @include media-sm () {
        display: none !important;
    }
}

//------------------------------------------------------------------
//確定文字色
//------------------------------------------------------------------
// 文字色：青
.lp-color--blue {
    color: $color-blue;
}

// 文字色：緑
.lp-color--green {
    color: $color-green;
}

//------------------------------------------------------------------
//table
//------------------------------------------------------------------
.lp-table {
    background-color: $colorback-white;
    width: 100%;

    & th {
        background-color: $colorback-lightgreen;
        font-weight: 700;
    }

    & th, td {
        border: solid 1px $color-black;
        padding: 20px 15px;
        text-align: left;
        vertical-align: top;
        font-size: 1.6rem;
        line-height: 28.8px;

        @include media-sm () {
            font-size: 1.4rem;
            line-height: 21px;
            color: #555;
        }

        @include media-md () {
            padding: 20px 25px;
        }
    }

    &--case {
        width: 46%;
        @include media-md () {
            width: 35%;
        }
    }
}

//------------------------------------------------------------------
//button
//------------------------------------------------------------------
.lp-button {
    margin: 0 auto;
    max-width: 450px;
    width: 350px;

    &--gke {
        width: 345px;
    }

    &--gcp {
        @include media-sm () {
            width: 335px;
        }
    }

    &--strengths {
        @include media-sm () {
            width: 335px;
        }
    }

    &--case {
        @include media-sm () {
            padding-left: 8px;
        }
    }

    &--short {
        max-width: 375px;
    }

    &--left {
        margin: 0;
    }

    &--link {
        background-color: $colorback-orange;
        border-radius: 100px;
        -webkit-box-shadow: 0 4px 0 0 #CD7F24;
        box-shadow: 0 4px 0 0 #CD7F24;
        color: $color-white;
        display: block;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
        padding: 27px 10px;
        position: relative;
        text-align: center;
        text-decoration: none;
        top: 0;
        width: 100%;

        @include media-md () {
            -webkit-box-shadow: 0 5px 0 0 #CD7F24;
            box-shadow: 0 5px 0 0 #CD7F24;
            font-size: 1.6rem;
            line-height: 1;
            padding: 22px 10px;
            -webkit-transition: top 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
            transition: top 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
            transition: box-shadow 0.3s ease-in-out, top 0.3s ease-in-out;
            transition: box-shadow 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
        }

        &:hover {
            -webkit-box-shadow: 0 0 0 0 #CD7F24;
            box-shadow: 0 0 0 0 #CD7F24;
            top: 5px;
            opacity: 1;
        }

        &::before {
            background-size: 24px 24px;
            background: url(/assets/img/img-arrow.svg) no-repeat center center;
            content: '';
            display: block;
            height: 24px;
            position: absolute;
            top: 0;
            width: 24px;
        }

        &::before {
            margin-top: -12px;
            right: 20px;
            top: 50%;
        }
    
        &--small {
            -webkit-box-shadow: 0 4px 0 0 #CD7F24;
            box-shadow: 0 4px 0 0 #CD7F24;
            padding: 18px 10px;

            @include media-sm () {
                padding: 15px 0;
                font-size: 1.7rem;
                line-height: 22px;
            }

            @include media-md () {
                &:hover {
                    top: 4px;
                }
            }
        }

        &--spline {
            @include media-sm () {
                line-height: 22.1px;
                padding: 25px 0;
                font-size: 1.7rem;
            }
        }

        &--gcp {
            &::before {
                right: 12px;
            }

            @include media-sm () {
                line-height: 22.1px;
                padding: 15px 0;
                font-size: 1.7rem;
            }
        }

        &--strengths {
            &::before {
                right: 12px;
            }

            @include media-sm () {
                line-height: 22.1px;
                padding: 15px 0;
                font-size: 1.7rem;
            }
        }
    }
}

//------------------------------------------------------------------
//body
//------------------------------------------------------------------
body {
    color: $color-black;
    font-family: $default;
    font-feature-settings: 'palt';
    font-weight: 400;
    letter-spacing: 0.2rem;
    line-height: 1;
    table-layout: fixed;
}


//------------------------------------------------------------------
//header
//------------------------------------------------------------------
.lp-header {
    background-color: $colorback-white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;

    &--inner {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        height: 60px;
        text-align: left;
        padding: 0 20px;
        @include media-xl () {
            height: 80px;
            max-width: 1260px;
            margin: 0 auto;
            padding: 0 30px;
        }
    }

    &--logo {
        width: 100px;

        &--link {
            display: block;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    & a {
        text-decoration: none;
    }

    &--menu {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
    }

    &--nav--pc {
        font-weight: 700;
        line-height: 1;
        @include media-sm () {
            background-color: $colorback-white;
            display: none;
            font-size: 1.5rem;
            height: calc(100% - 60px);
            left: 0;
            overflow-y: scroll;
            position: fixed;
            top: 60px;
            width: 100%;
            z-index: 99;
        }
        @include media-md () {
            display: block !important;
            font-size: 1.4rem;
            letter-spacing: 0;
            margin-right: 40px;
        }

        &--list {
            display: flex;
        }

        &--item {
            @include media-md () {
                margin-left: 30px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        &--link {
            color: $color-black;
            display: block;
        }
    }

    &--info {
        display: flex;
        -webkit-box-align: center;
        align-items: center;

        &--nav {
            @include media-sm () {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                padding-left: 75px;
            }
        }
    }

    &--tel {
        -webkit-box-align: center;
        align-items: center;
        background-color: $colorback-black;
        color: $color-white;
        display: flex;
        height: 60px;
        -webkit-box-pack: center;
        justify-content: center;
        line-height: 1;
        text-align: center;
        width: 60px;
        @include media-xl () {
            height: 80px;
            width: 220px;
        }

        &--icon {
            display: block;
            width: 14px;
            @include media-xl () {
                width: 12px;
            }

            img, svg {
                width: 100%;
                height: auto;
            }
        }

        &--text {
            font-family: $default;
            font-size: 2.2rem;
            font-weight: 700;
            letter-spacing: 0;
            margin-left: 8px;
            @include media-lg () {
                display: none;
            }
        }
    }

    &--contact {
        -webkit-box-align: center;
        align-items: center;
        // border: solid 2px $colorback-orange;
        background-color: $colorback-orange;
        color: $color-white;
        display: flex;
        height: 60px;
        -webkit-box-pack: center;
        justify-content: center;
        line-height: 1;
        text-align: center;
        width: 60px;
        @include media-xl () {
            height: 80px;
            width: 195px;
        }

        &--icon {
            display: block;
            width: 20px;

            img, svg {
                width: 100%;
                height: auto;
            }
        }

        &--text {
            font-size: 1.6rem;
            font-weight: 700;
            margin-left: 12px;
            @include media-lg () {
                display: none;
            }
        }
    }
}

//------------------------------------------------------------------
//main(section:lp-mainvisual)
//------------------------------------------------------------------
.lp-mainvisual {
    padding: 140px;
    position: relative;
    z-index: 5;

    @include media-sm () {
        padding: 0;
    }

    @include media-md () {
        padding: 160px 0 115px;

        @include media-md () {
            @include media-lg () {
                padding: 140px 0 135px;
            }
        }
    }

    &--contents {
        @include media-sm () {
            padding-top: 140px;
        }

        @include media-md () {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
        }
    }

    &--copy {
        @include media-md () {
            -webkit-box-flex: 1;
            flex: 1;
            padding: 0 20px 35px 0;
        }
    }

    &--copytitle {
        font-size: 1.85rem;
        font-weight: 700;
        line-height: 2.4rem;

        @include media-sm () {
            font-size: 3.0rem;
            line-height: 39px;
        }

        @include media-md () {
            font-size: 4.0rem;
            line-height: 150%;

            @include media-md () {
                @include media-lg () {
                    font-size: 2.2rem;
                }
            }
        }
    }

    &--copytext {
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.02rem;
        margin: 20px 0 25px;
        
        @include media-sm () {
            font-size: 1.6rem;
            line-height: 24px;
        }

        @include media-md () {
            letter-spacing: 0.05rem;
            margin: 15px 0 35px;
        }
    }

    &--logo {
        @include media-md () {
            width: 375px;
            left: 66%;
            bottom: 19%;
            position: absolute;
        }

        @include media-sm () {
            margin: 30px auto;
            max-width: 400px;
        }

        @include media-md () {
            @include media-lg () {
                width: 300px;
            }
        }

        img {
            border-radius: 10px;
        }

        img, svg {
            width: 100%;
            height: auto;
        }
    }

    &--image {
        @include media-md () {
            bottom: -65px;
            left: 50%;
            margin-left: -145px;
            position: absolute;
            width: 336px;
            @include media-lg () {
                margin-left: -120px;
                width: 280px;
            }
        }

        @include media-sm () {
            margin: 0 auto -50px;
            max-width: 400px;
            width: 90%;
        }

        img, svg {
            width: 100%;
            height: auto;
        }
    }

    & .lp-button {
        margin: 0 auto;
        @include media-md () { 
            margin: 0;
        }
    }
}

//------------------------------------------------------------------
//main(section:lp-solution)
//------------------------------------------------------------------
.lp-solution {
    background-color: $colorback-lightblue;
    margin-bottom: 60px;
    padding-top: 80px;
    position: relative;
    
    @include media-md () {
        margin-bottom: 140px;
        padding-top: 100px;
    }

    &::before, &::after {
        bottom: -60px;
        content: '';
        display: block;
        height: 60px;
        position: absolute;
        width: 50%;
        z-index: 1;
        @include media-md () {
            bottom: -140px;
            height: 140px;
        }
    }

    &::before {
        background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50.5%, #E3F2FD)) no-repeat top left/100% 100%;
        background: linear-gradient(to top right, rgba(255, 255, 255, 0) 50%, #E3F2FD 50.5%) no-repeat top left/100% 100%;
        left: 0;
    }

    &::after {
        background: -webkit-gradient(linear, right bottom, left top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50.5%, #E3F2FD)) no-repeat top left/100% 100%;
        background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #E3F2FD 50.5%) no-repeat top left/100% 100%;
        right: 0;
    }

    &--problem {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.85rem;
        font-weight: 700;
        -webkit-box-pack: center;
        justify-content: center;
        line-height: 1.2rem;

        @include media-sm () {
            margin: -30px -15px 0;
        }

        @include media-md () {
            font-size: 1.4rem;
            line-height: 180%;
            margin-top: -40px;
        }

        &--item {
            position: relative;
            text-align: center;
            width: 42%;
            z-index: 2;

            @include media-sm () {
                margin: 30px 4% 0;
                &:nth-child(2n+1) {
                    margin-left: 0;
                }
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }

            @include media-md () {
                margin-top: 40px;
                width: 255px;
            }
        }

        &--imagewrapper {
            margin: 0 auto 15px;
            position: relative;

            @include media-md () {
                width: 180px;
            }
        }

        &--number {
            background-color: $colorback-blue;
            border-radius: 50%;
            color: $color-white;
            font-family: $default;
            font-size: 2.0rem;
            font-weight: 700;
            height: 40px;
            left: 0;
            line-height: 40px;
            padding-left: 2px;
            position: absolute;
            text-align: center;
            top: 0;
            width: 40px;
            z-index: 2;
        }

        &--image img, svg {
            width: 100%;
            height: auto;
        }
    }

    &-text {
        @include media-sm () {
            font-size: 1.3rem;
            line-height: 21px;
        }
    }
}

//------------------------------------------------------------------
//main(section:lp-gcp)
//------------------------------------------------------------------
.lp-gcp {
    &--contents {
        margin-bottom: 40px;
        @include media-md () {
            margin-bottom: 80px;
        }
    }

    &-text {
        font-size: 1.6rem;
        line-height: 28.8px;

        @include media-sm () {
            font-size: 1.5rem;
            color: #555;
        }
    }

    &--section {
        margin: 40px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @include media-sm () {
            font-size: 0.95rem;
            line-height: 1.6rem;
        }

        @include media-md () {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            &:nth-child(2n+1) &--contents--right {

                @include media-md () {
                    width: 45%;

                    @include media-md () {
                        @include media-lg () {
                            padding-right: 30px;
                        }
                    }
                }
            }

            &:nth-child(2n) {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
            }
        }

        &--contents--right　{
            @include media-md () {
                -webkit-box-flex: 1;
                flex: 1;
            }
        }

        &--contents--left {
            @include media-md () {
                width: 45%;

                @include media-md () {
                    @include media-lg () {
                        padding-right: 30px;
                    }
                }
            }
            
        }

        &--image {
            @include media-sm () {
                margin-top: 20px;
            }
            @include media-md () {
                width: 480px;
                @include media-lg () {
                    width: 40%;
                }
            }

            img, svg {
                width: 100%;
                height: auto;
            }
        }
    }

    &-figure--image {
        width: 45%;

        @include media-sm () {
            width: 75%;
            padding-top: 25px;
        }
    }

    &-figure--left {
        width: 43%;
        text-align: right;

        @include media-sm () {
            padding-left: 50px;
        }
    }

    &-img--cost {
        padding-left: 50px;
        padding-right: 70px;

        @include media-sm () {
            width: 100%;
            padding: 0 35px;
        }
    }

    &-img--autoske {
        padding-left: 115px;
        padding-right: 160px;

        @include media-sm () {
            width: 150%;
            padding: 10px 0;
        }
    }

    &-img--cancel {
        padding-right: 50px;

        @include media-sm () {
            width: 100%;
            padding: 0 35px 10px;
        }
    }
}

//------------------------------------------------------------------
//main(section:lp-merit)
//------------------------------------------------------------------
.lp-merit {
    background-color: $colorback-gray;

    &--contents {
        @include media-sm () {
            margin: 40px 0 20px;
        }

        @include media-md () {
            margin-bottom: 40px;
        }
    }

    &-section {
        margin: 40px 0;

        @include media-md () {
            margin: 50px 0;
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @include media-sm () {
            font-size: 0.95rem;
            line-height: 1.6rem;
        }
        
        @include media-md () {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
        }

        &--contents--right {
            -webkit-box-flex: 1;
            flex: 1;
            padding-right: 60px;

            @include media-sm () {
                padding-right: 0;
            }

            @include media-md () {
                @include media-md () {
                    @include media-lg () {
                        padding-right: 30px;
                    }
                }
            }
        }

        &:nth-child(2n) {
            @include media-md () {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                flex-direction: row-reverse;
            }
        }

        &--contents--left {
            -webkit-box-flex: 1;
            flex: 1;
            padding-left: 60px;

            @include media-sm () {
                padding-left: 0;
            }

            @include media-md () {
                @include media-md () {
                    @include media-lg () {
                        padding-left: 30px;
                    }
                }
            }
        }

        &--image {
            @include media-sm () {
                margin-top: 20px;
            }
            @include media-md () {
                width: 350px;
                @include media-lg () {
                    width: 40%;
                }
            }
            img, svg {
                width: 100%;
                height: auto;
            }
        }

        &--number {
            color: $color-blue;
            font-family: $default;
            font-size: 2.2rem;
            font-weight: 700;
            letter-spacing: 0;
            line-height: 1;
            margin-bottom: 10px;
            padding-left: 40px;
            position: relative;

            @include media-sm () {
                font-size: 3.6rem;
                line-height: 36px;
            }

            @include media-md () {
                font-size: 4.0rem;
                margin-bottom: 5px;
            }

            &::before {
                background-color: $colorback-blue;
                content: '';
                display: block;
                height: 1px;
                left: 0;
                position: absolute;
                top: 50%;
                width: 30px;
            }
        }

        &--list {
            font-size: 0.85rem;
            line-height: 1.6rem;
            margin-top: 20px;
            padding-top: 25px;
            position: relative;

            @include media-md () {
                font-size: 1.4rem;
                line-height: 150%;
                margin-top: 15px;
                padding-top: 20px;
            }

            &::before {
                background-color: $colorback-blue;
                content: '';
                display: block;
                height: 1px;
                left: 0;
                position: absolute;
                top: 0;
                width: 60px;
            }
        }
    }

    &-text {
        font-size: 1.6rem;
        line-height: 28.8px;

        @include media-sm () {
            font-size: 1.5rem;
            line-height: 27px;
        }
    }

    &-linktext {
        @include media-sm () {
            font-size: 1.3rem;
            line-height: 21px;
        }
    }
}

//------------------------------------------------------------------
//main(section:lp-gke)
//------------------------------------------------------------------
.lp-gke {
    background-color: $colorback-lightblue;
    padding-top: 0;

    &--inner {
        margin-bottom: -20px;
        position: relative;
        top: -20px;

        @include media-md () {
            margin-bottom: -40px;
            top: -40px;
        }
    }

    &--head {
        margin-bottom: 35px;

        @include media-md () {
            margin-bottom: 50px;
        }
    }

    &--balloonTitle {
        background-color: $colorback-blue;
        color: $color-white;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 40px;
        padding: 10px;
        position: relative;
        text-align: center;
        z-index: 2;

        @include media-sm () {
            font-size: 2.2rem;
            line-height: 29px;
        }

        @include media-md () {
            font-size: 3.2rem;
            margin-bottom: 50px;
            padding: 20px 10px;

            @include media-lg () {
                font-size: 1.5rem;
            }
        }

        &::after {
            border-color: $color-blue transparent transparent transparent;
            border-style: solid;
            border-width: 13px 12px 0 12px;
            bottom: -12px;
            content: '';
            display: block;
            height: 0;
            left: 50%;
            margin-left: -12px;
            position: absolute;
            width: 0;

            @include media-md () {
                border-width: 20px 18px 0 18px;
                bottom: -19px;
                margin-left: -18px;
            }
        }
    } 

    &--headTitle {
        background-color: $colorback-white;
        border-radius: 10px;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.8rem;
        padding: 15px 10px;
        text-align: center;

        @include media-sm () {
            font-size: 2.2rem;
            line-height: 29px;
        }

        @include media-md () {
            font-size: 3.2rem;
            line-height: 1;
            padding: 18px 10px;

            @include media-lg () {
                font-size: 1.5rem;
            }
        }
    }

    &--main {
        margin-bottom: 40px;

        @include media-md () {
            margin-bottom: 60px;
        }
    }

    &--contents {
        margin-top: 40px;
    }

    &--knowhow {
        border-top: solid 1px $color-blue;
        margin-top: 40px;
        padding-top: 35px;

        @include media-md () {
            padding-top: 55px;
        }
    }

    &--banner {
        background-color: $color-white;
        border-radius: 10px;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 0.03rem;
        line-height: 1.6rem;
        margin-top: 60px;
        padding: 20px 10px;
        position: relative;

        @include media-sm () {
            text-align: center;
        }

        @include media-md () {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            font-size: 2.0rem;
            -webkit-box-pack: center;
            justify-content: center;
            line-height: 150%;
            margin-top: 100px;
            padding: 20px 20px 20px 40px;

            @include media-lg () {
                font-size: 1.1rem;
            }
        }

        &::before {
            border-color: $color-blue transparent transparent transparent;
            border-style: solid;
            border-width: 12px 60px 0 60px;
            content: '';
            display: block;
            height: 0;
            left: 50%;
            margin-left: -60px;
            position: absolute;
            top: -35px;
            width: 0;

            @include media-md () {
                border-width: 24px 125px 0 125px;
                margin-left: -125px;
                top: -65px
            }
        }

        &--icon {
            width: 72px;
            @include media-sm () {
                margin: 0 auto 10px;
            }

            @include media-md () {
                width: 88px;
            }

            img, svg {
                width: 100%;
                height: auto;
            }
        }

        &--contents {
            @include media-md () {
                padding-left: 40px;

                @include media-lg () {
                    padding-left: 20px;
                }
            }
        }

        &--text {
            font-size: 2.0rem;
            line-height: 30px;

            @include media-sm () {
                font-size: 1.8rem;
                line-height: 23px;
            }
        }

        &--title {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6rem;

            @include media-sm () {
                margin-top: 10px;
                font-size: 2.0rem;
                line-height: 26px;
            }
            @include media-md () {
                font-size: 3.2rem;
                line-height: 150%;

                @include media-lg () {
                    font-size: 1.85rem;
                }
            }
        }
    }

    &-section {
        margin: 40px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @include media-sm () {
            font-size: 0.95rem;
            line-height: 1.6rem;
        }

        @include media-md () {
            margin: 50px 0;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
        }

        &--contents--right {
            padding-right: 60px;

            @include media-md () {
                @include media-md () {
                    @include media-lg () {
                        padding-right: 30px;
                    }
                }
            }
        }

        &:nth-child(2n) {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            flex-direction: row-reverse;
        }

        &--contents--left {
            padding-left: 60px;
            -webkit-box-flex: 1;
            flex: 1;

            @include media-sm () {
                padding-left: 0;
            }

            @include media-md () {
                @include media-md () {
                    @include media-lg () {
                        padding-left: 30px;
                    }
                }
            }
        }

        &--flex--contents--right {
            padding-right: 60px;
            -webkit-box-flex: 1;
            flex: 1;

            @include media-sm () {
                padding-right: 0;
            }

            @include media-md () {
                @include media-md () {
                    @include media-lg () {
                        padding-right: 30px;
                    }
                }
            }
        }

        &--image {
            @include media-sm () {
                margin-top: 20px;
            }

            @include media-md () {
                width: 350px;
                padding-right: 40px;
                @include media-lg () {
                    width: 40%; 
                }
            }

            img, svg {
                width: 100%;
                height: auto;
            }
        }

        &--list {
            font-size: 0.85rem;
            line-height: 1.6rem;
            margin-top: 20px;
            padding-top: 25px;
            position: relative;

            @include media-md () {
                font-size: 1.4rem;
                line-height: 150%;
                margin-top: 15px;
                padding-top: 20px;
            }

            &::before {
                background-color: $colorback-blue;
                content: '';
                display: block;
                height: 1px;
                left: 0;
                position: absolute;
                top: 0;
                width: 60px;
            }
        }
    }

    &-explanation {
        margin-top: 30px;

        @include media-md () {
            margin-top: 50px;
        }

        &--head {
            @include media-sm () {
                font-size: 0.95rem;
                line-height: 1.6rem;
            }

            @include media-md () {
                text-align: center;
            }
        }
        &--list {
            font-size: 0.85rem;
            line-height: 1.6rem;
            margin-top: 20px;

            @include media-md () {
                font-size: 1.4rem;
                line-height: 150%;
                margin: 30px auto 0;
                max-width: 460px;
            }
        }
    }

    &-subsection {
        margin-top: 40px;

        @include media-md () {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            margin-top: 50px;
        }

        &--item {
            background-color: $colorback-white;
            border: solid 1px $color-blue;
            border-radius: 10px;
            padding: 20px;

            @include media-sm () {
                margin-top: 25px;
            }

            &:first-child {
                margin-top: 0;
            }

            @include media-md () {
                -webkit-box-align: center;
                align-items: center;
                display: flex;
                padding: 40px 30px 40px;
                width: 41.5%;

                @include media-lg () {
                    padding: 25px 20px;
                }
            }
        }
        &--image {
            margin: 0 auto;
            width: 105px;

            @include media-md () {
                width: 90px;
            }
            img, svg {
                width: 100%;
                height: auto;
            }
        }
        &--contents {
            font-size: 0.85rem;
            line-height: 1.6rem;
            @include media-sm () {
                margin-top: 30px;
            }
            @include media-md () {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                font-size: 14px;
                line-height: 150%;
                padding-left: 35px;

                @include media-lg () {
                    padding-left: 15px;
                }
            }
        }
    }

    &-text {
        font-size: 1.6rem;
        line-height: 28.8px;

        @include media-sm () {
            font-size: 1.5rem;
            line-height: 27px;
        }
    }
}

//------------------------------------------------------------------
//main(section:lp-strengths)
//------------------------------------------------------------------
.lp-strengths {
    background-color: $colorback-green;

    &--contents {
        background-color: $colorback-white;
        padding: 40px 20px 50px;

        @include media-sm () {
            margin: 0 -20px;
        }

        @include media-md () {
            border-radius: 10px;
            padding: 60px 100px 80px;

            @include media-lg () {
                padding: 40px;
            }
        }
    }

    &-section {
        border-top: solid 1px $color-green;
        margin: 40px 0;
        padding-top: 40px;

        @include media-md () {
            margin: 55px 0 60px;
            padding-top: 60px;
        }

        @include media-sm () {
            font-size: 0.95rem;
            line-height: 1.6rem;
        }

        &:first-child {
            border-top: none;
            margin-top: 0;
            padding-top: 0;
        }

        &--number {
            color: $color-green;
            font-family: $default;
            font-size: 2.2rem;
            font-weight: 700;
            letter-spacing: 0;
            line-height: 1;
            margin-bottom: 10px;
            padding-left: 40px;
            position: relative;

            @include media-sm () {
                font-size: 3.6rem;
                line-height: 36px;
            }

            @include media-md () {
                font-size: 4.0rem;
                margin-bottom: 5px;
            }

            &::before {
                background-color: $colorback-green;
                content: '';
                display: block;
                height: 1px;
                left: 0;
                position: absolute;
                top: 50%;
                width: 30px;
            }
        }

        &--image {
            margin-top: 20px;

            @include media-md () {
                margin-top: 40px;
            }

            img, svg {
                width: 100%;
                height: auto;
            }

            @include media-md () {
                &--cloudmigration {
                    max-width: 700px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        &--flex {
            @include media-md () {
                -webkit-box-align: center;
                align-items: center;
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
            }
        }

        &--flexcontents {
            @include media-md () {
                -webkit-box-flex: 1;
                flex: 1;
                padding-right: 60px;

                @include media-lg () {
                    padding-right: 30px;
                }
            }
        }

        &--fleximage {
            @include media-sm () {
                margin-top: 20px;
            }

            @include media-md () {
                width: 350px;

                @include media-lg () {
                    width: 40%;
                }
            }

            img, svg {
                width: 100%;
                height: auto;
            }
        }
    }

    &-subsection {
        margin-top: 40px;

        @include media-md () {
            display: flex;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            justify-content: space-between;
            margin-top: 20px;
        }

        &--item {
            background-color: $colorback-lightgreen;
            border-radius: 10px;
            font-size: 0.85rem;
            line-height: 1.4rem;
            margin-top: 25px;
            padding: 30px 25px 20px;

            @include media-md () {
                font-size: 1.4rem;
                line-height: 150%;
                padding: 15px;
                width: 45%;

                @include media-lg () {
                    padding: 20px;
                }
            }
        }

        &--title {
            color: $color-green;
            font-size: 0.95rem;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 15px;

            @include media-sm () {
                font-size: 1.5rem;
                line-height: 27px;
                margin-bottom: 8px;
            }

            @include media-md () {
                font-size: 1.6rem;
                
            }
        }
    }

    &-text {
        font-size: 1.6rem;
        line-height: 28.8px;

        @include media-sm () {
            font-size: 1.5rem;
            line-height: 27px;
        }
    }

    &-text--flex {
        font-size: 1.4rem;
        line-height: 21px;
    }
}

.lp-strategy {
    @include media-md () {
        margin-top: 50px;
    }

    &--title {
        background-color: $colorback-lightgreen;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.8rem;
        padding: 15px 10px;
        text-align: center;

        @include media-sm () {
            font-size: 2.0rem;
            line-height: 26px;
        }

        @include media-md () {
            font-size: 32px;
            line-height: 150%;
            padding: 10px;

            @include media-lg () {
                font-size: 1.85rem;
            }
        }
    }

    &--contents {
        margin: 30px 0 40px;

        @include media-md () {
            margin: 40px 0 50px;
        }
    }

    &-section {
        margin: 40px 0;

        @include media-md () {
            margin: 50px 0;
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @include media-sm () {
            font-size: 0.95rem;
            line-height: 1.6rem;
        }

        @include media-md () {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;

            &:nth-child(2n+1) &--contents--right {
                padding-right: 60px;
            }        
        }

        @include media-md () {
            @include media-md () {
                @include media-lg () {
                    &:nth-child(2n+1) &--contents--right {
                        padding-right: 30px;
                    }
                }
            }
        }

        @include media-md () {
            &--contents {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }
        }


        @include media-md () {
            &:nth-child(2n) {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                flex-direction: row-reverse;
            }

            &--contents--left {
                padding-left: 60px;
            }
        }

        @include media-md () {
            @include media-md () {
                @include media-lg () {
                    &:nth-child(2n) &--contents--left {
                        padding-left: 30px;
                    }
                }
            }
        }

        &--phase {
            margin-bottom: 5px;

            @include media-md () {
                margin-bottom: 10px;
            }
        }

        &--phasetext {
            background-color: #32B154;
            border-radius: 2px;
            color: #FFF;
            display: inline-block;
            font-family: $default;
            font-size: 0.85rem;
            font-weight: 700;
            letter-spacing: 0.02rem;
            line-height: 1;
            padding: 4px 20px;

            @include media-sm () {
                font-size: 1.4rem;
                font-weight: bold;
                line-height: 18px;
            }

            @include media-md () {
                font-size: 1.4rem;
            }
        }
    }
}

//------------------------------------------------------------------
//main(section:lp-case)
//------------------------------------------------------------------
.lp-case {
    background-color: $colorback-gray;

    &--contents {
        margin-bottom: 40px;

        @include media-md () {
            margin-bottom: 60px;
        }
    }

    &-section {
        border-top: solid 1px $color-black;
        margin: 40px 0;
        padding-top: 40px;

        @include media-md () {
            margin: 55px 0;
            padding-top: 60px;
        }

        &:first-child {
            border-top: none;
            margin-top: 0;
            padding-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--flex {
            @include media-md () {
                -webkit-box-align: center;
                align-items: center;
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
            }
        }

        &--contents--imgleft {
            @include media-md () {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                padding-right: 110px;

                @include media-md () {
                    @include media-lg () {
                        padding-right: 30px;
                    }
                }
            }
        }

        &--table {
            margin-top: 40px;
        }
    }

    &--image {
        @include media-sm () {
            margin-top: 20px;
        }

        @include media-md () {
            width: 435px;
        }

        @include media-md () {
            @include media-lg () {
                width: 40%;
            }
        }

        img, svg {
            width: 100%;
            height: auto;
        }
    }

    &--image--prato {
        margin-top: 40px;
        padding-top: 30px;
        text-align: center;
        border: solid 1px #555;
        background-color: white;
    }

    &-text {
        font-size: 1.6rem;
        line-height: 28.8px;

        @include media-sm () {
            font-size: 1.5rem;
            line-height: 27px;
        }
    }
}

//------------------------------------------------------------------
//main(section:lp-company)
//------------------------------------------------------------------
.lp-company {

    &-partner {
        border: solid 1px #DDD;
        border-radius: 10px;
        padding: 25px 20px;

        @include media-md () {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            padding: 40px;

            @include media-md () {
                @include media-lg () {
                    padding: 30px;
                }
            }
        }

        &--image {
            -webkit-box-align: start;
            align-items: flex-start;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;

            @include media-sm () {
                width: 93%;
                margin: 0 auto 30px;
            }

            @include media-md () {
                width: 38.5%;

                @include media-md () {
                    @include media-lg () {
                        width: 35%;
                    }
                }
            }

            & img {
                width: 46%;
                height: auto
            }
        }

        &--contents {
            @include media-md () {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                padding-left: 55px;

                @include media-md () {
                    @include media-lg () {
                        padding-left: 25px;
                    }
                }
            }

        }
    }

    &-profile {
        margin-top: 40px;

        @include media-md () {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            justify-content: space-around;
            margin-top: 55px;
        }

        &--contents {
            font-size: 0.95rem;
            line-height: 1.8rem;

            @include media-md () {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                font-size: 14px;
                line-height: 150%;
                padding-right: 115px;
            }
        }

        &--image {
            @include media-sm () {
                margin-top: 25px;
            }

            @include media-md () {
                width: 350px;

                @include media-md () {
                    @include media-lg () {
                        width: 40%;
                    }
                }
            }

            & img, svg {
                width: 100%;
                height: auto;
            }
        }
    }

    &-overview {
        margin-top: 40px;

        @include media-md () {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            flex-direction: row-reverse;
            -webkit-box-pack: justify;
            justify-content: space-between;
            margin-top: 60px;
        }

        &--contents {
            @include media-md () {
                -webkit-box-flex: 1;
                flex: 1;
                padding-left: 95px;

                @include media-md () {
                    @include media-lg () {
                        padding-left: 30px;
                    }
                }
            }
        }

        &--image {
            text-align: center;

            @include media-md () {
                -webkit-box-align: center;
                align-items: center;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                width: 350px;

                @include media-md () {
                    @include media-lg () {
                        width: 40%;
                    }
                }
            }

            & img {
                height: auto;
                width: 218px;

                @include media-md () {
                    width: 225px;

                    @include media-md () {
                        @include media-lg () {
                            width: 180px;
                        }
                    }
                }
            }
        }

        &--link {
            display: block;
            padding: 70px 20px;

            @include media-md () {
                padding: 20px;
            }
        }
    }

    &-text {
        font-size: 1.6rem;
        line-height: 28.8px;

        @include media-sm () {
            font-size: 1.5rem;
            line-height: 27px;
            font-weight: normal;
        }
    }

    &-text--plof {
        font-size: 1.4rem;
        line-height: 21px;

        @include media-sm () {
            font-size: 1.5rem;
            line-height: 27px;
        }
    }
}

.lp-linetable {
    width: 100%;

    & th, td {
        font-size: 0.85rem;
        line-height: 1.4rem;
        letter-spacing: 0.05rem;
        padding: 13px 0;
        text-align: left;
        vertical-align: top;

        @include media-md () {
            font-size: 1.4rem;
            line-height: 150%;
        }
    }

    & th {
        border-bottom: solid 1px #202020;
        font-weight: 700;

        @include media-sm () {
            font-size: 1.4rem;
            line-height: 25.2px;
        }
    }

    & td {
        border-bottom: solid 1px #DDD;
        padding-left: 20px;
        position: relative;

        @include media-sm () {
            font-size: 1.4rem;
            line-height: 21px;
        }

        &::before {
            background-color: #FFF;
            bottom: -1px;
            content: '';
            display: block;
            height: 1px;
            left: 0;
            position: absolute;
            width: 20px;
            z-index: 2;
        }
    }

    &--overview {
        width: 60px;

        @include media-md () {
            width: 70px;
        }
    }
}

//------------------------------------------------------------------
//main(section:lp-flow)
//------------------------------------------------------------------
.lp-flow {
    background-color: $colorback-gray;

    &--contents {
        margin-top: 30px;

        @include media-md () {
            margin-top: 60px;
        }
    }

    &-item {
        background-color: $colorback-white;
        border: solid 1px $color-black;
        margin-bottom: 50px;
        padding: 18px 20px;
        position: relative;

        @include media-sm () {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
        }

        @include media-md () {
            padding: 22px 10px;
            text-align: center;
        }

        &::after {
            border-color: $color-green transparent transparent transparent;
            border-style: solid;
            border-width: 12px 60px 0 60px;
            bottom: -35px;
            content: '';
            display: block;
            height: 0;
            left: 50%;
            margin-left: -60px;
            position: absolute;
            width: 0;
        }

        &:last-child {
            margin-bottom: 0;

            &::after {
                display: none;
            }
        }

        &--number {
            color: $color-green;
            font-family: $default;
            font-size: 3.2rem;
            font-weight: 700;
            letter-spacing: 0;
            line-height: 1;
            padding-left: 45px;

            @include media-sm () {
                width: 60px;
            }

            @include media-md () {
                left: 25px;
                margin-top: -16px;
                padding-left: 40px;
                position: absolute;
                top: 50%;
            }

            &::before {
                background-color: $colorback-green;
                content: '';
                display: block;
                height: 1px;
                left: 25px;
                position: absolute;
                top: 50%;
                width: 30px;

                @include media-md () {
                    left: 0;
                }
            }
        }

        &--title {
            font-size: 1.1rem;
            font-weight: 700;
            line-height: 1.6rem;

            @include media-sm () {
                -webkit-box-flex: 1;
                flex: 1;
                font-size: 1.8rem;
                line-height: 23.4px;
                font-weight: bold;
            }

            @include media-md () {
                font-size: 2.0rem;
                line-height: 1;
            }
        }
    }

}

.lp-headtext {
    @include media-sm () {
        font-size: 0.95rem;
        margin-top: -5px;
        font-size: 1.5rem;
        line-height: 27px;
    }

    @include media-md () {
        margin-top: -30px;
        text-align: center;
        font-size: 1.6rem;
        line-height: 28.8px;
    }
}

//------------------------------------------------------------------
//main(section:lp-faq)
//------------------------------------------------------------------
.lp-faq-item {
    background-color: $colorback-white;
    border: solid 2px $color-green;
    margin: 25px 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &--question {
        display: table;
        width: 100%;
    }

    &--questionQ {
        background-color: $colorback-green;
        color: $color-white;
        display: table-cell;
        font-family: $default;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        padding: 10px 5px;
        text-align: center;
        vertical-align: top;
        width: 54px;

        @include media-md () {
            font-size: 4.0rem;
            padding: 20px;
            vertical-align: middle;
            width: 76px;
        }
    }

    &--questiontitle {
        background-color: $colorback-lightgreen;
        display: table-cell;
        font-size: 0.95rem;
        font-weight: 700;
        line-height: 1.4rem;
        padding: 15px;
        vertical-align: middle;

        @include media-md () {
            font-size: 2.0rem;
            line-height: 180%;
            padding: 20px 30px;
        }
    }

    &--answer {
        display: table;
        width: 100%;
    }

    &--answerA {
        color: $colorback-green;
        display: table-cell;
        font-family: $default;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        vertical-align: top;
        padding: 13px 5px;
        text-align: center;
        width: 54px;

        @include media-md () {
            font-size: 4.0rem;
            padding: 12px 20px;
            width: 76px;
        }
    }

    &--answertext {
        display: table-cell;
        padding: 12px 15px;
        vertical-align: top;

        @include media-sm () {
            font-size: 0.85rem;
            line-height: 1.4rem;
        }

        @include media-md () {
            padding: 12px 30px;
        }
    }
}

.lp-faqQ {
    line-height: 30px;

    @include media-sm () {
        font-size: 1.5rem;
        line-height: 19.5px;
    }
}

.lp-faqA {
    font-size: 1.6rem;
    line-height: 28.8px;

    @include media-sm () {
        font-size: 1.4rem;
        line-height: 21px;
    }
}

//------------------------------------------------------------------
//main(section:lp-contact)
//------------------------------------------------------------------
.lp-contact {
    background: linear-gradient(90deg, #0066EB 0%, rgba(50, 177, 84, 0.7) 100%);
    color: $color-white;
    padding: 45px 16px 35px;
    text-align: center;

    @include media-md () {
        padding: 60px 20px;
    }

    &--title {
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.6rem;

        @include media-sm () {
            font-size: 1.8rem;
            line-height: 25.2px;
        }

        @include media-md () {
            font-size: 2.0rem;
            line-height: 28px;
        }
    }

    &--button {
        margin-top: 20px;

        @include media-md () {
            margin-top: 30px;
        }
    }
}

//------------------------------------------------------------------
//page-topボタン
//------------------------------------------------------------------
.lp-pagetop {
    bottom: 30px;
    right: 50px;
    position: fixed;
    z-index: 50;

    @include media-sm () {
        bottom: 10px;
        right: 10px;
    }

    &--button {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: $colorback-blue;
        display: block;
        position: relative;

        @include media-sm () {
            width: 50px;
            height: 50px;
        }

        img {
            width: 22px;
            height: 14px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -7px 0 0 -11px;
            transition: margin-top 0.3s ease-in-out;
        }
    }
}

//------------------------------------------------------------------
//footer
//------------------------------------------------------------------
.lp-footer {
    font-size: 0.9rem;
    line-height: 1.4rem;
    letter-spacing: 0.05rem;
    padding: 25px 20px;
    text-align: center;

    @include media-md () {
        font-size: 1.4rem;
        line-height: 150%;
    }

    &--copyright {
        display: block;
        font-size: 1.2rem;
        line-height: 20.4px;
        margin-top: 9px;
        text-align: center;

        @include media-md () {
            font-size: 1.2rem;
            margin-top: 20px;
        }
    }
}

.lp-fotterP {
    font-size: 1.4rem;
    line-height: 21px;
}

