@import "../sass/_variables";
@import "../sass/_mixins";
@import "../sass/reset";

//------------------------------------------------------------------
//共通
//------------------------------------------------------------------
html { 
    font-size: 62.5%; 
}

.lp-inner {
    padding-left: 20px;
    padding-right: 20px;

    @include media-md () {
        margin-left: auto;
        margin-right: auto;
        max-width: 1050px;
        padding-left: 30px;
        padding-right: 30px;
    }

    &--wide {
        @include media-md () {
            max-width: 1260px;
        }
    }
}

.lp-br-pc {
    @include media-sm () {
        display: none !important;
    }
}

.lp-br-sp {
    display: none !important;

    @include media-sm () {
        display: block !important;
    }
}

.lp-form {
    margin: 0 auto;
  }

.lp-button {
    margin: 0 auto;
    max-width: 450px;

    &--link {
        background-color: #F68827;
        border-radius: 100px;
        -webkit-box-shadow: 0 4px 0 0 #CD7F24;
        box-shadow: 0 4px 0 0 #CD7F24;
        color: #FFF;
        display: block;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
        padding: 27px 10px;
        position: relative;
        text-align: center;
        text-decoration: none;
        top: 0;
        width: 100%;

        @include media-md () {
            box-shadow: 0 5px 0 0 #CD7F24;
            font-size: 16px;
            line-height: 1;
            padding: 22px 10px;
            transition: box-shadow 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
        }

        &:hover {
            -webkit-box-shadow: 0 0 0 0 #CD7F24;
            box-shadow: 0 0 0 0 #CD7F24;
            top: 5px;
            opacity: 1;
        }

        &::before {
            background-size: 24px 24px;
            background: url(/assets/img/img-arrow.svg) no-repeat center center;
            content: '';
            display: block;
            height: 24px;
            position: absolute;
            top: 0;
            vertical-align: top;
            width: 24px;
            margin-top: -12px;
            right: 20px;
            top: 50%;

            @include media-md () {
                right: 30px;
            }
        }

        &--small {
            -webkit-box-shadow: 0 4px 0 0 #CD7F24;
            box-shadow: 0 4px 0 0 #CD7F24;
            padding: 18px 10px;
            font-size: 1.6rem;

            &:hover {
                @include media-md () {
                    top: 4px;
                }
            }
        }
    }
}

//------------------------------------------------------------------
//header
//------------------------------------------------------------------
.lp-header {
    background-color: #FFF;
    box-shadow: none;
    left: 0;
    position: fixed;
    top: 0;
    transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
    width: 100%;
    z-index: 500;

    &--form {
        margin-bottom: -60px;
        position: static;

        @include media-md () {
            margin-bottom: -80px;
        }
    }

    &--inner {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        height: 60px;
        text-align: left;
        padding: 0 20px;

        @include media-xl () {
            height: 80px;
            max-width: 1260px;
            margin: 0 auto;
            padding: 0 30px;
        }
    }

    &--logo {
        width: 100px;

        &--link {
            display: block;
            text-decoration: none;
        }

        img, svg {
            width: 100%;
            height: auto;
        }
    }
}

//------------------------------------------------------------------
//lp-pagetitle
//------------------------------------------------------------------
.lp-pagetitle {
    background-color: $colorback-lightblue;
    margin-top: 60px;
    text-align: center;
    padding: 40px 0;

    @include media-md () {
        margin-top: 80px;
        padding: 84px 0;
    }

    @include media-md () {
        @include media-lg () {
            padding: 60px 0;
        }
    }

    &--main {
        color: $color-blue;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 31px;

        @include media-md () {
            font-size: 3.6rem;
            line-height: 54px;
        }
    }
}

//------------------------------------------------------------------
//lp-contact-info
//------------------------------------------------------------------
.lp-contact-info {
    padding: 50px 0;

    @include media-md () {
        padding: 80px 0;
    }

    &--contacts {
        border: solid 1px #DDD;
        padding: 20px;

        @include media-md () {
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            padding: 30px 0;
        }
    }

    &--text {
        @include media-md () {
            -webkit-box-flex: 1;
            flex: 1;
            padding: 0 40px 0 70px;
        }
    }

    &--writings {
        font-size: 1.6rem;
        line-height: 29px;
        font-weight: normal;
        letter-spacing: 0.06em;

        @include media-sm () {
            font-size: 1.4rem;
            line-height: 21px;
        }
    }

    &--main {
        @include media-md () {
            border-left: solid 1px #DDD;
            padding: 5px 20px 0 80px;
            width: 470px;
        }

        @include media-sm () {
            border-top: solid 1px #DDD;
            margin-top: 20px;
            padding-top: 20px;
        }
    }

    &--block {
        @include media-sm () {
            max-width: 290px;
            margin: 0 auto;
        }
    }

    &--title {
        font-size: 1.4rem;
        line-height: 25px;
        font-weight: bold;
        padding-left: 30px;

        @include media-md () {
            font-size: 1.6rem;
            padding-left: 40px;
        }
    }

    &--tel {
        color: #202020;
        display: block;
        font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
        font-size: 3.6rem;
        font-weight: bold;
        letter-spacing: 0.02rem;
        line-height: 36px;
        margin: 6px 0 5px;
        text-decoration: none;
        padding-left: 30px;
        position: relative;

        @include media-md () {
            font-size: 3.6rem;
            padding-left: 40px;
        }

        &:hover {
            cursor: default;
            opacity: 1;
        }
    }

    &--telicon {
        left: 0;
        position: absolute;
        top: -9px;

        @include media-sm () {
            top: 3px;
        }

        & img {
            height: auto;
            width: 20px;

            @include media-md () {
                width: 28px;
            }
        }
    }

    &--time {
        font-size: 1.2rem;
        line-height: 18px;
        padding-left: 30px;

        @include media-md () {
            font-size: 1.4rem;
            padding-left: 40px;
        }
    }
}

//------------------------------------------------------------------
//lp-contact-info
//------------------------------------------------------------------
.lp-form {
    margin-bottom: 30px;

    @include media-md () {
        margin-bottom: 60px;
    }

    &-item {
        margin-bottom: 30px;

        @include media-md () {
            display: flex;
        }

        &--title {
            font-weight: bold;

            @include media-sm () {
                margin-bottom: 10px;
            }

            @include media-md () {
                width: 220px;
                padding-top: 20px;
            }
        }

        &--required {
            background-color: #E44042;
            color: #FFF;
            display: inline-block;
            font-size: 1.2rem;
            font-weight: bold;
            line-height: 1;
            margin-right: 10px;
            padding: 4px 8px 4px 10px;
        }

        &--label {
            font-size: 1.6rem;
            line-height: 29px;
        }

        &--contents {
            @include media-md () {
                -webkit-box-flex: 1;
                flex: 1;
                padding-left: 20px;
            }
        }

        &--button {
            margin-top: 40px;

            @include media-md () {
                margin-top: 60px;
            }
        }
    }
}

.lp-formparts--text, .lp-formparts--textarea {
    appearance: none;
    background-color: #F7F7F7;
    border-radius: 4px;
    border: solid 1px #F7F7F7;
    box-sizing: border-box;
    color: #202020;
    font-family: $default;
    font-size: 1.6rem;
    font-weight: normal;
    height: 64px;
    line-height: normal;
    margin: 0;
    padding: 0 20px;
    width: 100% !important;

    @include media-md () {
        padding: 0 30px;
    }

    &::-webkit-input-placeholder {
        color: #999;
    }

    //classにerrorと付けたら表示
    &.error {
        background-color: rgba(228, 64, 66, 0.1);
        border-color: #E44042;
    }

}

.lp-formparts--textarea {
    display: block;
    height: 140px;
    padding: 15px 20px;

    @include media-md () {
        height: 180px;
        padding: 15px 30px;
    }
}

.noerror {
    display: none;
}

.error {
    color: #E44042;
    display: block;
    font-size: 1.4rem;
    line-height: 14px;
    margin-top: 10px;

    @include media-md () {
        font-size: 1.4rem;
        line-height: 21px;
    }
}
//------------------------------------------------------------------
//page-topボタン
//------------------------------------------------------------------
.lp-pagetop {
    bottom: 30px;
    right: 50px;
    position: fixed;
    z-index: 50;

    @include media-sm () {
        bottom: 10px;
        right: 10px;
    }

    &--button {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: $colorback-blue;
        display: block;
        position: relative;

        @include media-sm () {
            width: 50px;
            height: 50px;
        }

        img {
            width: 22px;
            height: 14px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -7px 0 0 -11px;
            transition: margin-top 0.3s ease-in-out;
        }
    }
}

//------------------------------------------------------------------
//footer
//------------------------------------------------------------------
.lp-footer {
    font-size: 0.9rem;
    line-height: 1.4rem;
    letter-spacing: 0.05rem;
    padding: 25px 20px;
    text-align: center;

    @include media-md () {
        font-size: 1.4rem;
        line-height: 150%;
    }

    &--copyright {
        display: block;
        font-size: 1.2rem;
        line-height: 20.4px;
        margin-top: 9px;
        text-align: center;

        @include media-md () {
            font-size: 1.2rem;
            margin-top: 20px;
        }
    }
}

.lp-fotterP {
    font-size: 1.4rem;
    line-height: 21px;
}