@import "../sass/_variables";
@import "../sass/_mixins";

html {
    line-height: 1.15;
}

body.is-document {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system,BlinkMacSystemFont,"Noto Sans Japanese","Helvetica Neue","Segoe UI","Original Yu Gothic","Yu Gothic",YuGothic,Verdana,"ヒラギノ角ゴ ProN W3",Meiryo,"M+ 1p",sans-serif;
    color: #212529;
    letter-spacing: .9px;
    padding-top: 80px;
}

.header {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #1e1f22;
}

.inner.is-headmenu {
    max-width: 1110px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    height: 80px;
    align-items: center;
    transition: height .2s ease;
    margin-left: auto;
    margin-right: auto;
}

.header__nav {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: auto;
    @include media-md () {
        display: none;
    }

    .header__nav__list {
        list-style: none;
        overflow: hidden;
    }

    .header__nav__item {
        text-align: center;
        float: left;
        &:nth-child(n+2) {
            margin-left: 25px;
        }
    }

    a {
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;

        &.is-current {
            color: #3c8b86;
        }
    }
}

.header__link__pc {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    @include media-md () {
        display: none;
    }
}

.header__link__sp {
    text-align: center;
}

.fas{
    margin-right: 8px;
}

.button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 150px;
    height: 40px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    outline: transparent;
    font-weight: 700;

    &.is-primary {
        color: #fff;
        background-color: #3c8b86;
        width: 190px;
    }

    &.is-large {
        min-width: 240px;
        height: 48px;
    }
}

.content {
    position: relative;
}

.intro {
    text-align: center;
    padding: 60px 0 90px;
}

.intro__title {
    font-size: 40px;
    margin: 0;
}

@include media-md () {
    .intro__title {
        font-size: 30px;
        margin: none;
    }
}

.intro__text {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0 0;

    & br.is-sp {
        display: none;
    }
}

.inner {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    @include media-md () {
        padding: 0 16px;
    }
}

.cases {
    background-color: #fafafa;
    padding: 70px 0 40px;
    margin: 160px 0 40px 0;
    @include media-md () {
        padding: 40px 0 30px;
        margin-top: 90px;
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 0 50px;
        margin-bottom: -30px;
        @include media-md () {
            display: block;
            padding: 0;
            margin-bottom: 0;
        }
    }
}

.material {
    & .cases__item {
        padding-bottom: 65px;
        position: relative;
    }

    & .cases__item_thumb {
        margin: 0 auto;
        max-width: 352px;
        @include media-md () {
            margin: 20px auto;
        }
    }

    & .button {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-top: 15px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
}

.cases__item {
    width: calc(50% - 15px);
    margin-bottom: 30px;
    @include media-md () {
        width: 100%;
        margin-bottom: 50px;
    }

    & a {
        display: block;
        text-decoration: none;
    }
}

a {
    background-color: transparent;
    transition: opacity .25s ease;
}

.cases__item_thumb {
    height: 230px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cases__item_title {
    font-size: 16px;
    color: #212529;
    line-height: 1.6;
    margin: 16px 0 0;
}

.cases__item_company {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 10px;
}

p {
    margin: 0 0 0 8px;
    font-size: 12px;
    color: #000;
}

  /*------------------------------
  
    ここから下がハンバーガーメニュー
    に関するCSS
  
  ------------------------------*/
  .drawer {
    display: none;
    @include media-md () {
        display: block;
    }
  }
    
  /* チェックボックスは非表示に */
  .drawer-hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer-open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上に */
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #fff;
    transition: 0.5s;
    position: absolute;
  }

  .drawer-list {
    margin-top: 100px;
    margin-left: 110px;
    list-style: none;
  }

  .drawer-item {
      margin-bottom: 20px;
      .drawer-link {
          color: #fff;
          font-size: 20px;
          text-decoration: none;
      }
  }
  
  /* 三本線のうち一番上の棒の位置調整 */
  .drawer-open span:before {
    bottom: 8px;
  }
  
  /* 三本線のうち一番下の棒の位置調整 */
  .drawer-open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .drawer-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/* メニューを画面の外に飛ばす */
    z-index: 99;
    background: black;
    transition: .5s;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer-check:checked ~ .drawer-content {
    left: 0;/* メニューを画面に入れる */
  }


